body{
  font-family: 'Montserrat';
}

#title{
 background-color: Black;
}

h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  text-align: right;

}
h3 {
  font-family: 'Montserrat';
}
.container-fluid{

}
a{
  font-family: 'Montserrat-Bold';
  color: Black;
}
a:link { text-decoration: none; }

#features{
  padding: 7% 15%;
}
.features-box{
  text-align: center;
  padding: 5%;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: Black;
  color: white;
}
h2{
  font-size: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

@media (max-width: 500px) {
  .container-fluid{
    text-align: center;

  justify-content: center;
  align-items: center;
  }
  .col-lg-6{
    align-items:center;
    text-align: center;
    justify-content: center;
  }
  h1{
    text-align: center;
  }
  .buttons{
    text-align: center;
  }

}
#footer{
  background-color: Black;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}
